<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <!-- <link rel="stylesheet" href="../css/homepage.css" /> -->
    <link rel="stylesheet" href="../css/authpages.css" />

    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Homepage</title>
  </head>
  <% if (locals.error) { %>
  <p style="color: red"><%= locals.error %></p>
  <% }%>
  <body>
    <% if (user) { %>
      <div class="logout">
        <a class = "logout" href="/auth/logout">LOGOUT</a>
    </div>
    <div class="home-button">
      <a href="/lobby">
        <button class="button">PLAY NOW</button>
      </a>
    </div>
    <% } else { %>
    <div class="home-button">
      <a href="/auth/login">
        <button class="button">LOG IN</button>
      </a>
   
      <a href="/auth/signup">
        <button class="button">SIGN UP</button>
      </a>
    </div>
    <% } %>
    <div class="logo-div">
      <a href="/">
      <img
        class="logo"
        src="https://i0.wp.com/golflakeridge.com/wp-content/uploads/2017/09/Texas_Hold_em_Logo_000.png?fit=763%2C1030&ssl=1"
        height="600"
        alt="Title Logo"
      />
    </a>
  </div>
    
  </body>
</html>
