<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../css/chat.css" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="/scripts/chat.js" defer></script>
    <script src="/scripts/games.js" defer></script>
</head>
<body>
    <div class="topnav">
        <a class="active" href="/">Home</a>
        <a href="/auth/login">login</a>
        <a href="/auth/signup">Sign up</a>
        <a href="/auth/logout">logout</a>
        <a href="/game/42">Game 42</a>
      </div>
    <div class = grid>
        <div><h1>Global lobby for chat and room creation/joining</h></div>
        <h2><%= user.id %> <%= user.username %></h2>    //email?
        <div>
            <h2>Chat</h2>
            <article id = "chat-window"></article>
        </div>
    <input
        type="text" 
        name= "message" 
        id="message"
        placeholder= "Message"/>
    </div>
</body>
</html>