<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../css/authpages.css" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="backend\static\scripts\favicon.ico" href="/views">
    <title>Login</title>
</head>

<body>
  <!-- <img 
    class="bg src="\css\assets\bg.png"
    alt=""
    /> -->
    <% if (locals.error) { %>
        <p class="error-container" style="color: red;"><%= locals.error %></p>
      <% }%>
      <% if (user) { %>
        <h1 style="color: blue;"> TEST: Logged as <%= user.username %></h1>
    <% }%>


    <div class="topnav">
      <a href="/">
        <img
          class="titleLogo center"
          src="https://i0.wp.com/golflakeridge.com/wp-content/uploads/2017/09/Texas_Hold_em_Logo_000.png?fit=763%2C1030&ssl=1"
          height="140"
          alt="Title Logo"
          style="padding-left: 50px;" 
          style="padding-top: 40px;"
        />
      </a>
      <!-- <span class="active">Back To Homepage</span> -->
    </div>

    <!--sign in box-->
    <div class="container">
      <form id="login" onsubmit="return validateForm()" method="POST" action="/auth/login">
        <h2 class="header"> Log In </h2>

        <!--<label for="userName">  Username </label>-->
        <input class="input" type="text" id="username" name="username" placeholder="username" required />
        <br>
        <!--<label for="passWord"> Password </label>-->
        <input class="input" type="password" id="password" name="password" placeholder="password" required />
        <br>
        <a href="/auth/signup"> Create an Account </a> <br>
        
        <button class="button" type="submit">LOG IN</button>
    </form>
  </div>
</body>
</html>

