<html>
    <head>
        <title>Hello</title>
        <link rel="icon" href="favicon.ico?v=1.1">
        <script src="/scripts/bundle.js"></script>
    </head>
    <body>
        <p>Hello <%= name%></p>
    </body>
</html>