<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../css/authpages.css" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/scripts/fade.js" defer></script>
    
    <title>Register</title>

</head>

<body>
  <% if (locals.error) { %>
    <p id="errorContainer" class="error-container"><%= locals.error %></p>
  <% }%>

  <!-- LOGO TO HOME IN CORNER -->
  <div>
    <a href="/">
      <img
        src="https://i0.wp.com/golflakeridge.com/wp-content/uploads/2017/09/Texas_Hold_em_Logo_000.png?fit=763%2C1030&ssl=1"
        height="140"
        alt="Title Logo"
        style="padding-left: 50px;" 
        style="padding-top: 40px;"
      />
    </a>
  </div>
  <!-- ---------------------- -->


  <!-- CONTAINER FOR FORM ITEMS -->
  <div class="container signincont">

    <form
      name="createAcc"
      onsubmit="return validateForm()"
      action="/auth/signup"
      method="POST"
      enctype="application/x-www-form-urlencoded"
    >
    
    <h1 class="header">Create New Account</h1>
    
    <input class="input signininput" type="text" id="username" placeholder="username" name="username" required >
    <br>

        
    <input class="input signininput" type="email" id="email" placeholder="email" name="email" required >
    <br>

      
    <input class="input signininput" type="password" id="password" placeholder="password" name="password" required >
    <br>

     
    <input
      class="input signininput"
      type="password"
      id="confirmedPassword"
      placeholder="confirm password"
      name="confirmedPassword"
      required
    >

    <br>
    <a href="/auth/login"> Returning User? </a> 
    <br>
          
    <button type="submit" class="button signinbutton">SIGN UP</button>
      
    <div class="errorMSG">
      <span class="errorMSG" id="message"> &nbsp; </span>
    </div>
   </form>
  </div>
  <!-- ---------------------- -->

</body>
</html>