div.message {
    clear: both;
  }
  
  div.me p {
    font-style: italic;
    color: #777;
  }
  
  div.message img {
    border-radius: 25px;
    float: left;
    margin-right: 15px;
  }
  
  div.me img {
    float: right;
    margin-left: 15px;
  }