body {
  display: flex;
  flex-direction: row;
}

.username{
    margin-top: 120px;
    margin-left: 20px;
    align-self: flex-start;
    color: white;
    font-size: 30px;
}


.topnav{
    display: flex;
    flex-direction: column;
}
.chat-container {
    box-sizing: border-box;
    background-color: white;
    padding: 20px; /* Adjust padding as needed */
    width: 100%; /* Adjust the width as needed */
    margin: auto;
    margin-left: 100px;
    display: flex;
    flex-direction: column;
    flex: 1; /* Allow chat container to take up all available vertical space */
  }
  
  .chat-title {
    margin-top: 0;
    font-size: 24px; /* Adjust font size as needed */
  }
  
  #chat-window {
    max-height: 680px; /* Set a maximum height for the chat window */
    min-height: 680px;
    overflow-y: auto; /* Enable vertical scrolling */
    border: 1px solid #ccc; /* Add a border to separate chat window visually */
    padding: 10px; /* Add padding inside the chat window */
    margin-top: auto;
  }
  
  .message-input {
    padding: 10px;
    box-sizing: border-box;
  }
  .message {
    display: flex;
    max-width: 180px;
    align-items: center;
    margin-bottom: 10px;
    padding: 0 10px; /* Adjust the padding as needed */
  }
  
  .profile-picture {
    width: 40px; /* Adjust the width of the profile picture as needed */
    height: 40px; /* Adjust the height of the profile picture as needed */
    border-radius: 50%;
  }
  
  .message-text {
    display: flex;
    background-color: #e5e5e5; /* Adjust background color for messages */
    padding: 10px;
    border-radius: 10px;
    margin-left: 10px;
  }

.hand.dealer{
    display: flex; 
    flex-wrap: nowrap; 
    justify-content: space-around;
    align-items: center;
}

.game-buttons{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.game-buttons button {
    padding: 40px;
    font-size: 16px;
    margin-left: 15px;
}

.grid {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-left: 10%;
    width: 50%;
    margin-top: 7%;
}

.card {
  width: 50px; 
  height: 80px; 
  margin-right: 10px; 
  margin-top: 25%;
}

.hand-dealer {
  display: flex;
  flex-direction: row;
}

.body-container {
  display: flex;
  flex: 50%;
}

.topnav {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

div.card {
  width: 190px;
  height: 275px;
}

.hand-dealer {
  display: flex;
  flex-direction: row;
}

div.suits-0.value-1 {
  background-image: url("../PNG-cards-1.3/2_of_spades.png");
  background-size: contain;
}
div.suits-1.value-1 {
  background-image: url("../PNG-cards-1.3/2_of_diamonds.png");
  background-size: contain;
}
div.suits-2.value-1 {
  background-image: url("../PNG-cards-1.3/2_of_clubs.png");
  background-size: contain;
}
div.suits-3.value-1 {
  background-image: url("../PNG-cards-1.3/2_of_hearts.png");
  background-size: contain;
}
div.suits-0.value-2 {
  background-image: url("../PNG-cards-1.3/3_of_spades.png");
  background-size: contain;
}
div.suits-1.value-2 {
  background-image: url("../PNG-cards-1.3/3_of_diamonds.png");
  background-size: contain;
}
div.suits-2.value-2 {
  background-image: url("../PNG-cards-1.3/3_of_clubs.png");
  background-size: contain;
}
div.suits-3.value-2 {
  background-image: url("../PNG-cards-1.3/3_of_hearts.png");
  background-size: contain;
}
div.suits-0.value-3 {
  background-image: url("../PNG-cards-1.3/4_of_spades.png");
  background-size: contain;
}
div.suits-1.value-3 {
  background-image: url("../PNG-cards-1.3/4_of_diamonds.png");
  background-size: contain;
}
div.suits-2.value-3 {
  background-image: url("../PNG-cards-1.3/4_of_clubs.png");
  background-size: contain;
}
div.suits-3.value-3 {
  background-image: url("../PNG-cards-1.3/4_of_hearts.png");
  background-size: contain;
}
div.suits-0.value-4 {
  background-image: url("../PNG-cards-1.3/5_of_spades.png");
  background-size: contain;
}
div.suits-1.value-4 {
  background-image: url("../PNG-cards-1.3/5_of_diamonds.png");
  background-size: contain;
}
div.suits-2.value-4 {
  background-image: url("../PNG-cards-1.3/5_of_clubs.png");
  background-size: contain;
}
div.suits-3.value-4 {
  background-image: url("../PNG-cards-1.3/5_of_hearts.png");
  background-size: contain;
}
div.suits-0.value-5 {
  background-image: url("../PNG-cards-1.3/6_of_spades.png");
  background-size: contain;
}
div.suits-1.value-5 {
  background-image: url("../PNG-cards-1.3/6_of_diamonds.png");
  background-size: contain;
}
div.suits-2.value-5 {
  background-image: url("../PNG-cards-1.3/6_of_clubs.png");
  background-size: contain;
}
div.suits-3.value-5 {
  background-image: url("../PNG-cards-1.3/6_of_hearts.png");
  background-size: contain;
}
div.suits-0.value-6 {
  background-image: url("../PNG-cards-1.3/7_of_spades.png");
  background-size: contain;
}
div.suits-1.value-6 {
  background-image: url("../PNG-cards-1.3/7_of_diamonds.png");
  background-size: contain;
}
div.suits-2.value-6 {
  background-image: url("../PNG-cards-1.3/7_of_clubs.png");
  background-size: contain;
}
div.suits-3.value-6 {
  background-image: url("../PNG-cards-1.3/7_of_hearts.png");
  background-size: contain;
}
div.suits-0.value-7 {
  background-image: url("../PNG-cards-1.3/8_of_spades.png");
  background-size: contain;
}
div.suits-1.value-7 {
  background-image: url("../PNG-cards-1.3/8_of_diamonds.png");
  background-size: contain;
}
div.suits-2.value-7 {
  background-image: url("../PNG-cards-1.3/8_of_clubs.png");
  background-size: contain;
}
div.suits-3.value-7 {
  background-image: url("../PNG-cards-1.3/8_of_hearts.png");
  background-size: contain;
}
div.suits-0.value-8 {
  background-image: url("../PNG-cards-1.3/9_of_spades.png");
  background-size: contain;
}
div.suits-1.value-8 {
  background-image: url("../PNG-cards-1.3/9_of_diamonds.png");
  background-size: contain;
}
div.suits-2.value-8 {
  background-image: url("../PNG-cards-1.3/9_of_clubs.png");
  background-size: contain;
}
div.suits-3.value-8 {
  background-image: url("../PNG-cards-1.3/9_of_hearts.png");
  background-size: contain;
}
div.suits-0.value-9 {
  background-image: url("../PNG-cards-1.3/10_of_spades.png");
  background-size: contain;
}
div.suits-1.value-9 {
  background-image: url("../PNG-cards-1.3/10_of_diamonds.png");
  background-size: contain;
}
div.suits-2.value-9 {
  background-image: url("../PNG-cards-1.3/10_of_clubs.png");
  background-size: contain;
}
div.suits-3.value-9 {
  background-image: url("../PNG-cards-1.3/10_of_hearts.png");
  background-size: contain;
}
div.suits-0.value-10 {
  background-image: url("../PNG-cards-1.3/jack_of_spades.png");
  background-size: contain;
}
div.suits-1.value-10 {
  background-image: url("../PNG-cards-1.3/jack_of_diamonds.png");
  background-size: contain;
}
div.suits-2.value-10 {
  background-image: url("../PNG-cards-1.3/jack_of_clubs.png");
  background-size: contain;
}
div.suits-3.value-10 {
  background-image: url("../PNG-cards-1.3/jack_of_hearts.png");
  background-size: contain;
}
div.suits-0.value-11 {
  background-image: url("../PNG-cards-1.3/queen_of_spades.png");
  background-size: contain;
}
div.suits-1.value-11 {
  background-image: url("../PNG-cards-1.3/queen_of_diamonds.png");
  background-size: contain;
}
div.suits-2.value-11 {
  background-image: url("../PNG-cards-1.3/queen_of_clubs.png");
  background-size: contain;
}
div.suits-3.value-11 {
  background-image: url("../PNG-cards-1.3/queen_of_hearts.png");
  background-size: contain;
}
div.suits-0.value-12 {
  background-image: url("../PNG-cards-1.3/king_of_spades.png");
  background-size: contain;
}
div.suits-1.value-12 {
  background-image: url("../PNG-cards-1.3/king_of_diamonds.png");
  background-size: contain;
}
div.suits-2.value-12 {
  background-image: url("../PNG-cards-1.3/king_of_clubs.png");
  background-size: contain;
}
div.suits-3.value-12 {
  background-image: url("../PNG-cards-1.3/king_of_hearts.png");
  background-size: contain;
}
div.suits-0.value-13 {
  background-image: url("../PNG-cards-1.3/ace_of_spades.png");
  background-size: contain;
}
div.suits-1.value-13 {
  background-image: url("../PNG-cards-1.3/ace_of_diamonds.png");
  background-size: contain;
}
div.suits-2.value-13 {
  background-image: url("../PNG-cards-1.3/ace_of_clubs.png");
  background-size: contain;
}
div.suits-3.value-13 {
  background-image: url("../PNG-cards-1.3/ace_of_hearts.png");
  background-size: contain;
}
