body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #15812c;
    display: flex;
    justify-content: center;
    align-items: center;  
}

.block {
    padding: 100px;
    background-color: #fff; 
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 11%;
    width: 60%;
}

.scroll-box {
    overflow-y: auto;
    max-height: 300px; 
}

  .topnav {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000; 
}

.lobbyTitle {
    position: absolute;
    top: 12%; 
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2em; 
}

.body-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  .chat-container {
    box-sizing: border-box;
    background-color: white;
    padding: 20px; /* Adjust padding as needed */
    width: 100%; /* Adjust the width as needed */
    margin: auto;
    margin-left: 100px;
    display: flex;
    flex-direction: column;
    flex: 1; /* Allow chat container to take up all available vertical space */
  }
  
  .chat-title {
    margin-top: 0;
    font-size: 24px; /* Adjust font size as needed */
  }
  
  #chat-window {
    max-height: 680px; /* Set a maximum height for the chat window */
    min-height: 680px;
    overflow-y: auto; /* Enable vertical scrolling */
    border: 1px solid #ccc; /* Add a border to separate chat window visually */
    padding: 10px; /* Add padding inside the chat window */
    margin-top: auto;
  }
  
  .message-input {
    padding: 10px;
    box-sizing: border-box;
  }
  